.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}


.raleway {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #434455;
    background-color: #FFFFFF;

}

a {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
}


.header-class {
    display: flex;
    width: 1440px;
    height: 72px;
    margin: 0px;
    padding: 0 px;
    border-bottom: 1px;
    border-bottom-color: #E7E9FC;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-one {
    color: #4D5AE5;
    padding: 0 px;
    margin: 0 px;
}

.logo-two {
    color: #2E2F42;
    padding: 0 px;
    margin: 0 px;
}

.list-nav-link {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.connect {
    font-style: normal;
}

.connect-list-link {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.list-nav-link:hover,
.list-nav-link:focus,
.connect-list-link:hover,
.connect-list-link:focus {
    color: #404BBF;
}


.footer-class {
  background-color: #2E2F42;  
}
.footer-logo .logo-two {
color: #F4F4FD;
}